name: CI

on:
  pull_request:
    branches: [main]
    paths:
      - 'package.json'
      - 'bun.lock'
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/**'

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  build-and-test:
    uses: victory-sokolov/githooks/.github/workflows/node-ci.yml@main
